@model MVCRavenSaga.Models.Elementos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Elementos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Elemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bonificaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonificaciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDElemento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
