@model IEnumerable<MVCRavenSaga.Models.Elementos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Elemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bonificaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Elemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bonificaciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDElemento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDElemento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDElemento })
        </td>
    </tr>
}

</table>
