@model IEnumerable<MVCRavenSaga.Models.Apoyos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Romance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elementos.Elemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elementos1.Elemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidades.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidades1.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Romance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elementos.Elemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elementos1.Elemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unidades.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unidades1.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDApoyo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDApoyo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDApoyo })
        </td>
    </tr>
}

</table>
